* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./img/happy-birthday-hd-happy-birthday-wallpaper.jpg');
  background-size: 80%;
  background-position: center 5%;
  overflow: hidden;
}

.text {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100px;
}

.text svg {
  background-color: rgba(63, 20, 101, 0.5);
}

.text--line {
  font-size: 8em;
}
.text--line2 {
  font-size: 10em;
}

@media only screen and (max-width: 768px) {
  body {
    background-image: url('./img/Happy-Birthday-Wallpaper-Images-HD.jpg');
    background-color: #5d17eb;
    background-size: 100%;
    background-position: 0 0;
  }
  .text svg {
  }

  .text--line {
    font-size: 8em;
  }
  .text--line2 {
    font-size: 10em;
  }
}

svg {
  position: absolute;
  width: auto;
  height: 250px;
  padding: 2px;
  border-radius: 20px;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 7% 28%;
  stroke-width: 3px;
  animation: stroke-offset 4s infinite normal;
  will-change: stroke-dashoffset, stroke-dasharray, padding-top, padding-left;
}
.text-copy:nth-child(1) {
  stroke: #0f80e0;
  stroke-dashoffset: 7%;
}
.text-copy:nth-child(2) {
  stroke: #3baaf1;
  stroke-dashoffset: 14%;
}
.text-copy:nth-child(3) {
  stroke: #f62c52;
  stroke-dashoffset: 21%;
}
.text-copy:nth-child(4) {
  stroke: #ff546a;
  stroke-dashoffset: 28%;
}
.text-copy:nth-child(5) {
  stroke: #e2e755;
  stroke-dashoffset: 35%;
}

@keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
  p {
    padding-top: 300px;
    padding-left: 170px;
  }
}
